# https://projectlombok.org/features/configuration
# https://dzone.com/articles/lombok-data-improve-your-code-coverage

# Tell lombok this file is placed in the root directory
config.stopBubbling = true

# Add @lombok.Generated annotations to all generated nodes where possible
# Useful for JaCoCo (which has built in support), or other style checkers and code coverage tools
lombok.addLombokGeneratedAnnotation = true